h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.entry-title {
	font: {
		size: 24px;
		weight: 400;
	}
	color: $color-green;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 15px 0 15px 0;
	line-height: 1;
	padding-top: 30px;

	@media screen and (min-width: $tabwidth) {
		font-size: 30px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
h1.entry-title-staff {
	font: {
		size: 24px;
		weight: 400;
	}
	color: $color-green;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	line-height: 1;
	padding-top: 30px;
	@media screen and (min-width: $tabwidth) {
		font-size: 30px;
	}
	@media screen and (min-width: $deskwidth) {

	}
}
.entry-content {
	h2 {
		font: {
			size: 24px;
			weight: 400;
		}
		color: $color-green;
		letter-spacing: 3px;
		text-transform: uppercase;
		margin: 15px 0 15px 0;
		line-height: 1;

		&.map-head {
			margin: 50px 0 0px 0;
		}
	}
}

blockquote {
	color: #404040;
	font-size: 1.5em;
	font-weight: 500;
}