h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.entry-title {
	font: {
		size: 30px;
		weight: 400;
	}
	color: $color-green;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 15px 0 15px 0;
	line-height: 1;
	padding-top: 30px;
}
h1.entry-title-staff {
	font: {
		size: 30px;
		weight: 400;
	}
	color: $color-green;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	line-height: 1;
	padding-top: 30px;
}