$map_width: 800px;
$map_bgd_color: rgba(0,0,0,0);
$map_border_radius: 0;
$screensize: $mapwidth;

/** Stately setup
*************************************/
@import "setup";

/** Style customizations
*************************************/
@import "customizations";


#states {
	

	@media screen and (min-width: $screensize) {
		display: block;
		width: $map_width;
		height: 640px;
		margin: -50px auto 0px auto;
		position: relative;
		clear: both;
	}

	ul {
		display: none;

		@media screen and (min-width: $screensize) {
			display: block;
		}
	}
}

/*--------------------------------------------------------------
## Map Colors
*/

.yes {
  color: $color-green;
}
.no-properties {
  color:  $color-gold;
}
.displaynone {
	max-height: 0;
	background-color: rgba(255,255,255,0);
	border: 0px solid #333;
	padding: 0 20px 0;
	overflow: hidden;
	color: rgba(0,0,0,0);
}
.open {
	max-height: 1000px;
	background-color: rgba(255,255,255,.9);
	border: 1px solid #333;
	padding: 20px;
	color: rgba(0,0,0,.9);
	z-index: 100000;
}
.counter {
	float: right;
	border: 1px solid #333;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(255,255,255,.6);

	@media screen and (min-width: $screensize) {
		float: none;
	}
}
// .small-count {
// 	font-size: 20px;
// 	line-height: 40px;
// 	width: 40px;
// 	height: 40px;

// 	@media screen and (min-width: $screensize) {
// 		font-size: 14px;
// 		line-height: 25px;
// 		width: 25px;
// 		height: 25px;
// 	}
// }
.large-count, .small-count {
	font-size: 20px;
	line-height: 40px;
	width: 40px;
	height: 40px;

}
.total-count {
	width: 100%;
	position: relative;
	padding: 5%;
	clear: both;
	font-size: 20px;
	

	@media screen and (min-width: $screensize) {
		line-height: 40px;
		width: 135px;
		position: absolute; 
		bottom: 200px;
	    right: -30px;
	    font-size: 30px;
	    padding: 0;
	}
}
.totalnum {
	width: auto; 
	float:  right; 
	margin: 0 0 0 10px;
}
#js-target {
	width: 300px;
	height: auto;
	position: absolute;
	right: -125px;
	bottom: 70px; 
	@include transition(all ease .1s);
}
.stateinfo {
	border-bottom: 1px solid #eee;
	overflow: hidden;

	@media screen and (min-width: $screensize) {
		border-bottom: 0px solid #eee;
		overflow: visible;
		//z-index: 15;
	}
}
.state-name {
	font-size: 20px;
	width: auto;
	float: left;

	@media screen and (min-width: $screensize) {
		display: none;
	}
}

.state-lines {
	display: none;

	@media screen and (min-width: $screensize) {
		width: 800px;
		height: 640px;
		display: block;
		position: absolute;
		z-index: -5;
		top: 0;
		left: 0;
		background-image: url(images/state-lines.png);
	}
}
.al, .ak, .ar, .az, .ca, .co, .ct, .de, .dc, .fl, .ga, .hi, .id, .il, .in, .ia, .ks, .ky, .la, .me, .md, .ma, .mi, .mn, .ms, .mo, .mt, .ne, .nv, .nh, .nj, .nm, .ny, .nc, .nd, .oh, .ok, .or, .pa, .ri, .sc, .sd, .tn, .tx, .ut, .va, .vt, .wa, .wv, .wi, .wy
{
	width: 100%;
	position: relative;
	padding: 5%;
	clear: both;

	@media screen and (min-width: $screensize) {
		width: auto;
		position: absolute;
		margin: 0;
		padding: 0;
		clear: none;
		// z-index: 11;
	}
}
.al {

	@media screen and (min-width: $screensize) {
		bottom: 240px;
	    right: 215px;
	}
}
.ak {

	@media screen and (min-width: $screensize) {
		bottom: 240px;
	    right: 215px;

	}
}
.ar {

	@media screen and (min-width: $screensize) {
		bottom: 270px;
	    right: 310px;
	}
}
.az {

	@media screen and (min-width: $screensize) {
		bottom: 280px;
	    left: 150px;
	}
}
.ca {

	@media screen and (min-width: $screensize) {
		bottom: 330px;
	    left: 45px;
	}
}
.co {

	@media screen and (min-width: $screensize) {
		bottom: 350px;
	    left: 245px;
	}
}
.ct {

	@media screen and (min-width: $screensize) {
		top: 240px;
    	right: 0px;
	}
}
.de {

	@media screen and (min-width: $screensize) {
		top: 260px;
    	right: 40px;
	}
}
.dc {

	@media screen and (min-width: $screensize) {
		top: 230px;
	    right: 100px;
	}
}
.fl {

	@media screen and (min-width: $screensize) {
		bottom: 160px;
	    right: 115px;
	}
}
.ga {

	@media screen and (min-width: $screensize) {
		bottom: 240px;
	    right: 160px;
	}
}
.hi {

	@media screen and (min-width: $screensize) {
		bottom: 240px;
	    right: 215px;
	}
}
.id {

	@media screen and (min-width: $screensize) {
		top: 130px;
	    left: 135px;
	}
}
.il {

	@media screen and (min-width: $screensize) {
		top: 220px;
	    right: 270px;
	}
}
.in {

	@media screen and (min-width: $screensize) {
		top: 220px;
	    right: 225px;
	}
}
.ia {

	@media screen and (min-width: $screensize) {
		top: 185px;
	    right: 325px;
	}
}
.ks {

	@media screen and (min-width: $screensize) {
		bottom: 340px;
	    right: 400px;
	}
}
.ky {

	@media screen and (min-width: $screensize) {
		bottom: 335px;
	    right: 200px;
	}
}
.la {

	@media screen and (min-width: $screensize) {
		bottom: 180px;
	    right: 295px;
	}
}
.me {

	@media screen and (min-width: $screensize) {
		top: 60px;
	    right: 15px;
	}
}
.md {

	@media screen and (min-width: $screensize) {
		top: 205px;
	    right: 110px;
	}
}
.ma {

	@media screen and (min-width: $screensize) {
		top: 145px;
	    right: 0px;
	}
}
.mi {

	@media screen and (min-width: $screensize) {
		top: 140px;
	    right: 210px;
	}
}
.mn {

	@media screen and (min-width: $screensize) {
		top: 100px;
	    right: 345px;
	}
}
.ms {

	@media screen and (min-width: $screensize) {
		bottom: 240px;
	    right: 265px;
	}
}
.mo {

	@media screen and (min-width: $screensize) {
		bottom: 330px;
	    right: 310px;
	}
}
.mt {

	@media screen and (min-width: $screensize) {
		top: 80px;
	    left: 215px;
	}
}
.ne {

	@media screen and (min-width: $screensize) {
		bottom: 395px;
	    right: 400px;
	}
}
.nv {

	@media screen and (min-width: $screensize) {
		bottom: 390px;
	    left: 90px;
	}
}
.nh {

	@media screen and (min-width: $screensize) {
		top: 103px;
    	right: 0px;
	}
}
.nj {

	@media screen and (min-width: $screensize) {
		top: 215px;
    	right: 40px;
	}
}
.nm {

	@media screen and (min-width: $screensize) {
		bottom: 280px;
	    left: 235px;
	}
}
.ny {

	@media screen and (min-width: $screensize) {
		top: 120px;
	    right: 95px;
	}
}
.nc {

	@media screen and (min-width: $screensize) {
		bottom: 310px;
	    right: 95px;
	}
}
.nd {

	@media screen and (min-width: $screensize) {
		top: 83px;
	    left: 335px;
	}
}
.oh {

	@media screen and (min-width: $screensize) {
		top: 200px;
	    right: 180px;
	}
}
.ok {

	@media screen and (min-width: $screensize) {
		bottom: 283px;
	    right: 385px;
	}
}
.or {

	@media screen and (min-width: $screensize) {
		top: 110px;
	    left: 55px;
	}
}
.pa {

	@media screen and (min-width: $screensize) {
		top: 175px;
	    right: 130px;
	}
}
.ri {

	@media screen and (min-width: $screensize) {
		top: 190px;
    	right: 0px;
	}
}
.sc {

	@media screen and (min-width: $screensize) {
		bottom: 270px;
	    right: 120px;
	}
}
.sd {

	@media screen and (min-width: $screensize) {
		top: 138px;
	    left: 335px;
	}
}
.tn {

	@media screen and (min-width: $screensize) {
		bottom: 300px;
	    right: 235px;
	}
}
.tx {

	@media screen and (min-width: $screensize) {
		bottom: 210px;
	    right: 415px;
	}
}
.ut {

	@media screen and (min-width: $screensize) {
		bottom: 370px;
	    left: 165px;
	}
}
.va {

	@media screen and (min-width: $screensize) {
		bottom: 350px;
	    right: 110px;
	}
}
.vt {

	@media screen and (min-width: $screensize) {
		top: 60px;
    	right: 70px;	
	}
}
.wa {

	@media screen and (min-width: $screensize) {
		top: 48px;
	    left: 85px;
	}
}
.wv {

	@media screen and (min-width: $screensize) {
		top: 230px;
	    right: 145px;
	}
}
.wi {

	@media screen and (min-width: $screensize) {
		top: 130px;
	    right: 285px;
	}
}
.wy {

	@media screen and (min-width: $screensize) {
		top: 160px;
	    left: 230px;
	}
}

