.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	z-index: 50;

	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $midwidth) {
		width: auto;
		float: right;
		display: inline-block;
		clear: none;
		margin: 20px 0 0 0;
	}
	@media screen and (min-width: $midwidth) {
		margin: 40px 0 0 0;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: relative;
		z-index: 60;

		ul {

			@media screen and (min-width: $tabwidth) {
				float: left;
				position: absolute;
				top: 3em;
				left: -999em;
				background-color: rgba(0,0,0,.5);
			}
			
			
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				width: 100%;
				font-size: 12px;
				margin: 0;

				@media screen and (min-width: $tabwidth) {
					width: auto;
					font-size: 16px;
					text-align: left;
					border-bottom: 1px solid rgba(255,255,255,.5);
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
				@media screen and (min-width: $midwidth) {
					font-size: 16px;
				}
				@media screen and (min-width: $deskwidth) {
					font-size: 16px;
				}
			}

			a {
				@media screen and (min-width: $tabwidth) {
					width: 200px;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;
		margin: 5px 0 ;
		width: 100%;
		font: {
			size: 16px;
			weight: 400;
		}
		line-height: 3;
		display: inline-block;

		@media screen and (min-width: $tabwidth) {
			font-size: 14px;
			margin: 0 5px 0 5px;
			width: auto;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 16px;
			margin: 0 0 0 10px;
			float: left;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 16px;
			margin: 0 0 0 25px;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: rgba(255,255,255,1);
		padding: 0 20px;
		@include transition(all .2s ease);

		@media screen and (min-width: $tabwidth) {
			padding: 0 5px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 0 5px;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 0 18px;
		}

		&:hover {
			background-color: rgba(255,255,255,.2);
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color: $color-green;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
