.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
header.hero {
	margin: 70px auto;
	color: #000;
	width: 100%;
	float: left;
	border-top: 1px solid $color-green;
	border-bottom: 1px solid $color-green;

	@media screen and (min-width: $tabwidth) {
		width: 50%;
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 0;
		margin: 0 auto;
		float: none;
		color: #fff;
		border-top: 0px solid $color-green;
		border-bottom: 0px solid $color-green;
	}
	@media screen and (min-width: $midwidth) {
		bottom: 10px;
	}
	@media screen and (min-width: $deskwidth) {
		bottom: 50px;
	}

	h2, h3, p {
		width: 100%;
		text-align: center;
		weight: 400;

	}
	h2 {
		letter-spacing: 3px;

		font: {
			size: 20px;
			weight: 300;
		}
		@media screen and (min-width: $tabwidth) {
			font: {size: 16px;}
		}
		@media screen and (min-width: $midwidth) {
			font: {size: 18px;}
		}
		@media screen and (min-width: $deskwidth) {
			margin: 20px 0 10px 0;
			font: {size: 20px;}
		}
	}
	p {
		letter-spacing: 2px;
		line-height: 1;
		font: {
			size: 24px;
			weight: 300;
		}
		@media screen and (min-width: $tabwidth) {
			font: {size: 18px;}
		}
		@media screen and (min-width: $midwidth) {
			font: {size: 20px;}
		}
		@media screen and (min-width: $deskwidth) {
			font: {size: 30px;}
			margin: 0px 0 0 0;
		}
	}
}
header.home {
	margin:  80px auto 50px auto;
	color: $color-green;

	h2, h3, p {
		width: 100%;
		text-align: center;
	}
	h2 {
		letter-spacing: 2px;
		margin: 0px 0 5px 0;
		font: {
			weight: 300;
			size: 22px;
		}
		@media screen and (min-width: $tabwidth) {
			font-size: 28px;
		}
	}
	h3 {
		margin: 0;
		font: {
			weight: 400;
			size: 24px;
		}
		@media screen and (min-width: $tabwidth) {
			font-size: 32px;
		}
		
	}
	p {
		margin: 0;
		font: {
			weight: 300;
			size: 14px;
		}
		@media screen and (min-width: $tabwidth) {
			font-size: 18px;
		}
		
	}
}
.homemap {
	width: 80%;
	margin: 30px auto;
	position: relative;
	img {
		width: 100%;
	}

	.infolink {
		width: 20%;
		position: absolute;
		right: 2%;
    	bottom: 28%;

    	.thelink a {
    		width: 100%;
    		height: 100%;
    		display: block;
    		position: absolute;
    		top: 0;
    		left: 0;
    	}

		.view {
			color: $color-green;
			letter-spacing: 3px;
			font-size: 14px;
			@media screen and (min-width: $tabwidth) {
				font: {size: 14px;}
			}
			@media screen and (min-width: $midwidth) {
				font: {size: 16px;}
			}
			@media screen and (min-width: $deskwidth) {
				font: {size: 18px;}
			}
		}
		.link {
			color: $color-green;
			font-size: 20px;
			line-height: 1.1;
			@media screen and (min-width: $tabwidth) {
				font: {size: 20px;}
			}
			@media screen and (min-width: $midwidth) {
				font: {size: 24px;}
			}
			@media screen and (min-width: $deskwidth) {
				font: {size: 28px;}
			}
		}
	}
}
section.home-projects {
	background-color: rgba($color-green, .8);
	overflow: hidden;
	padding-bottom: 10px;
}
section.page-projects {
	background-color: rgba($color-green, 0);
	overflow: hidden;
	padding-bottom: 10px;
	width: 100%;
}
.page-proj {
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
	line-height: 0;

	@media screen and (min-width: $tabwidth) {
		width: 24.25%;
		float: left;
		margin: 0.6% 0 0 0.6%;
	}
}
.home-proj {
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
	line-height: 0;

	@media screen and (min-width: $tabwidth) {
		width: 32%;
		float: left;
		margin: 1% 0 0 1%;
	}
}
.page-proj, .home-proj {
	
	img {
		width: 100%;
	}
	.info {
		width: 100%;
		position: absolute;
		text-align: center;
		color: #fff;
		bottom: 0;
		z-index: 20;
		padding-top: 5px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
	h2 {
		width: 100%;
		margin: 0 0 5px 0;
		text-align: center;
		line-height: 1.2;
		letter-spacing: 3px;
		text-transform: uppercase;
		font: {
			size: 18px;
			weight: 300;
		}
		@media screen and (min-width: $tabwidth) {
			font-size: 10px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 14px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 18px;
		}
	}
	p {
		font-size: 14px;
		line-height: 1;
		margin: 0 0 10px 0;

		@media screen and (min-width: $tabwidth) {
			font-size: 10px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 14px;
		}
	}
	.view-proj {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;

		a {
			width: 100%;
			height: 100%;
			display: block;
			text-indent: -9999px;
			padding: 0;
			@include transition(all ease .3s);

			&:hover {

			}
		}
	} // view proj

} // both
.home-proj {
	
	color: #fff;
	
	.view-proj.view-proj-off {

		a {
			background-color: rgba($color-green, .8);

			&:hover {
				background-color: rgba($color-green, 0);
			}
		}
	} // view proj
	.view-proj.view-proj-on {
		background-color: rgba($color-green, 0);
	}
} // home proj

.page-proj {
	overflow: hidden;

	img {
		width: 100%;
		transform: scale(1);
		@include transition(all ease .3s);
	}

	&:hover img {
		transform: scale(1.1);
	}

	.info {
		background-color: rgba($color-green, .8);
	}

	.view-proj {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;

		a {
			&:hover {
			
			}
		}
	}
}
.proj-pop {
	width: 100%;
	padding-top: 60px;
	color: #fff;

	.pop-image {
		width: 100%;
		margin: 0 0 20px 0;

		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: left;
			margin: 0;
		}
	}
	.pop-info {
		width: 100%;
		margin: 0;

		@media screen and (min-width: $tabwidth) {
			width: 30%;
			float: right;
			margin: 0;
		}
	}
}
#main {
	width: 100%;
	position: relative;
}
.backtohome {
	width: auto;
	position: absolute;
	display: inline-block;
	font-size: 18spx;
	top: -30px;
	right: 10px;
	
	a {
		text-decoration: none;
		color: $color-green;
	}
}
section.what-we-do {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	padding-bottom: 50px;
}
section.services, .widget-area {
	background: {
		color: rgba($color-gold, .4);
		image: url(images/big-arrow.png);
		repeat: repeat;
	}
}
section.services {
	width: 100%;
	position: relative;
	padding: 30px 0 20px 0;
	overflow: hidden;
	

	@media screen and (min-width: $tabwidth) {
		padding: 30px 0 20px 0;
	}
	@media screen and (min-width: $deskwidth) {
		padding: 70px 0 20px 0;
	}
	
}
.service-post {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: .5%;
	@include transition(all .3s ease);

	@media screen and (min-width: $tabwidth) {
		width: 28%;
		float: left;
	}
	.image {
		width: 100%;
		img {
			width: 100%;
		}
	}

	h2 {
		color: $color-green;
		width: 100%;
		position: relative;
	}
	.arrow-title {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 0;
		@include transition(all .3s ease);

		i {
			color: $color-gold;
			font-size: 20px;
			@include transition(all .3s ease);
		}
	}

	.excerpt {
		font: {
			size: 14px;
		}
	}

	&.first {
		margin: 0 0 20px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 6% 30px 0;
		}
	} // first
	&.last {
		margin: 0 0 20px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0 30px 0;
		}
	} // last
	.service-link {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		a {
			display: block;
			width: 100%;
			height: 100%;
			
			text-indent: -9000px;

			
		}
	} // service link

	&:hover {
		background-color: rgba(255,255,255,.7);
		.arrow-title {
			right: 10;
			i {
				font-size: 30px;
			}
		}
	}
}
section.staff {
	background-color: #000;
	width: 100%;
	clear: both;
	padding: 30px 0;
}
.center {
	width: 100%;
	text-align: center;
}
ul.tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		
		margin: 0 auto -7px auto;
    	display: inline-block;
	}

	li {
		width: 100%;
		display: inline-block;
		list-style: none;
		margin: 0 0 0 -0px;
		float: left;
		font-size: 14px;
		text-align: center;

		@media screen and (min-width: $tabwidth) {
			width: 15%;
			font-size: 12px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 14px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 16px;
		}
	}
	li.long {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 25%;
		}
	}
	a {
		width: 100%;
		display:inline-block;
		background:rgba(255,255,255,0);
		color:#A7A9AB;
		text-decoration:none;
		position: relative;
		padding:15px 3%;
		@include transition(.3s ease all);
		border-top: 2px solid #fff;

		@media screen and (min-width: $tabwidth) {
			padding:5px 3%;
		}
		@media screen and (min-width: $midwidth) {
			padding:10px 3%;
		}
		@media screen and (min-width: $deskwidth) {
			padding:15px 3%;
		}

		.border {
			display: none;
			@media screen and (min-width: $tabwidth) {
				width: 2px;
				position:absolute;
				right: -1px;
				display: inline-block;
			}
		}

		&.active, &:hover {
			background:#000;
			color:#fff;
			border-top: 2px solid $color-green;
			.border {
				display: none;
			}
		}
	}
}
.vcard a {
	background: {
		size: 50px 60px;
		image: url(images/vcard.png);
		repeat: no-repeat;
	}
}
.staff-wrap {
	width: 100%;
	margin: 0 0 20px 0;
	position: relative;
	overflow: hidden;
	background-color: $color-green;

	@media screen and (min-width: $tabwidth) {
		width: 20%;
		margin: 2.5%;
		float: left;
	}

	&.first {
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 2.5% 2.5% 0;
		}
	}
	&.last {
		margin: 0 0 30px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0% 2.5% 0;
		}
	}

	.pic {
		width: 100%;
		position: relative;
		float: left;
		margin: 0; 
		overflow: hidden;
		line-height: 0;

		img {
			width: 100%;
			transform: scale(1);
			@include transition(all .3s ease);
		}
	}

	
	&:hover {
		img {transform: scale(1.1);}
		.full-bio {padding: 5px 10% 5px 5%;}
	}

	.info {
		width: 100%;
		position: relative;
		float: left;
		z-index: 1000;
	}
	.quick-bio {
		width: 100%;
		background-color: rgba($color-green, 1);
		padding: 5%;
		color: #fff;
		float:  left;
		margin: 0;
		position: relative;

	}
	.full-bio {
		width: 100%;
		background-color: rgba($color-green, 1);
		padding: 5px 15% 5px 5%;
		color: #fff;
		float:  left;
		margin: 0;
		position: relative;
		text-align: right;
		@include transition(all .3s ease);

		@media screen and (min-width: $tabwidth) {
			padding: 5px 20% 5px 5%;
		}
		@media screen and (min-width: $midwidth) {
			padding: 5px 18% 5px 5%;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 5px 15% 5px 5%;
		}
	}

	h2 {
		text-transform: uppercase;
		margin: 0;
		font: {
			size: 14px;
			weight: 400;
		}

	}
	.detail {
		margin: 0;
		font: {
			size: 16px;
			weight: 400;
		}
		a {color: #fff;text-decoration: none;}

	}
	.detail-email {
		margin: 0;
		font: {
			size: 14px;
			weight: 400;
		}
		a {
			color: #fff;text-decoration: none;
			@include transition(all .3s ease);

			&:hover {
				padding-left: 5px;
			}

		}

		@media screen and (min-width: $tabwidth) {
			font-size: 10px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 12px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 14px;
		}

	}
	.arrow-title {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 5px;
		@include transition(all .3s ease);

		i {
			color: $color-gold;
			font-size: 20px;
			@include transition(all .3s ease);
		}
	}
	.vcard {
		width: 50px;
		height: 30px;
		margin: 5px 0 0 0;
		z-index: 1000;

		a {
			width: 50px;
			height: 30px;
			display: block;
			text-indent: -9000px;
			background: {
				position: 0 0;
			}
			@include transition(all .3s ease);

			&:hover {
				background-color: rgba(255,255,255,.3);
			}
		}
	} // vcard
	.staff-link a {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 30;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -9999px;
	}
}
heading.staff {
	color: $color-green;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 100%;
	margin: 30px 0 50px 0;
	display: block;
}
.single-staff-photo {
	width: 100%;
	margin: 0 0 30px 0;
	
	border-bottom: 5px solid $color-green;
	line-height:0;

	@media screen and (min-width: $tabwidth) {
		width: 28%;
		float: left;
		margin: 0 0 20px 5%;
	}

	img {
		width: 100%;
		line-height:0;
	}
}
.single-staff-info {
	width: 100%;
	margin: -5px 0 20px 0;

	@media screen and (min-width: $tabwidth) {
		width: 55%;
		float: right;
		margin: 0 5% 50px 0;
	}

	.detail {
		font: {
			weight: 500;
			size: 18px;
		}
		a {
			color: #000;
			text-decoration: none;
		}
	}

	li.edu {
		list-style: none;
	}
	.vcard {
		width: 200px;
		height: 30px;
		float: left;
		margin: 10px 0 20px 0;
		text-align: left;

		a {
			width: 200px;
			height: 30px;
			display: block;
			// text-indent: -9999px;
			padding: 3px 0 0 60px;
			background: {
				position: 0 -30px;
			}
		}
	} // vcard
}
.staff-border {
	width: 60%;
	float: left; 
	margin: 20px 0 30px 0;
	border-top: 1px solid $color-green;
	clear: both;
}
.single-staff-bio {
	width: 100%;
	clear: both;
}
.next-staff, .prev-staff {
	width: auto;
	text-align: center;
	margin: 2px 0;
	
	@media screen and (min-width: $tabwidth) {
		// position: fixed;
		display: inline-block;
		margin: 0 0 0 20px;
	}
	@media screen and (min-width: $deskwidth) {
		position: fixed;
		margin: 0;
	}

	a {
		background-color: $color-green;
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 8px 20px;
		@include transition(all .3s ease);
	}
}

.next-staff {
	@media screen and (min-width: $deskwidth) {
		top: 45%;
		right: 0;
	}

	a {
		&:hover {
			@media screen and (min-width: $deskwidth) {
				padding: 8px 30px 8px 20px;
			}
		}
	}
}
.prev-staff {
	@media screen and (min-width: $deskwidth) {
		top: 45%;
		left: 0;
	}
	a {
		&:hover {
			@media screen and (min-width: $deskwidth) {
				padding: 8px 20px 8px 30px;
			}
		}
	}
}
section.education {
	width: 100%;
	margin: 0 0 30px 0;
	h2 {
		color : $color-green;
		text-transform: uppercase;
		margin: 0;
		font: {
			size: 14px;
			weight: 500;
		}

	}
}
.page-subnav {
	margin: 20px 0 30px -15px;
	li {
		width: 100%;
		text-align: center;
		display: inline-block;
		padding: 0 15px;

		@media screen and (min-width: $tabwidth) {
			width: auto;
			font-size: 12px;
			border-right: 1px solid #333;
		}
		@media screen and (min-width: $midwidth) {
			width: auto;
			font-size: 16px;
		}
	}
	a {
		border-bottom: 3px solid #fff;
		text-decoration: none;
		color: #000;
		padding: 0;
		@include transition(.3s ease all);
	}
	a.active, a:hover {
		border-bottom: 3px solid $color-green;
	}
	li:last-child {
		border-right: 0px solid #333;
	}
}
.quick-contact {
	width: 100%;
	margin: 0 0 5px 0;
	background-color: $color-grey;
	position: relative;
	overflow: hidden;
	padding: 10px;

	&:hover {
		.photo {
			margin: 0 20px 0 0;
		}
	}

	@media screen and (min-width: $tabwidth) {
		
	}

	.photo {
		width: 12%;
		float: left;
		margin: 0 10px 0 0;
		@include transition(all .3s ease);

		img {
			width: 100%;
			transform: scale(1);
			@include transition(all .3s ease);
		}

	}
	.qc-info {
		width: auto;
		float: left;
	}
	.position {

	}
	.full-bio {
		width: 110px;
		color: rgba($color-green, 1);
		padding: 0px 25% 0px 0%;
		float:  left;
		margin: 0;
		font-size: 14px;
		position: relative;
		text-align: left;
		@include transition(all .3s ease);
	}

	h3 {
		text-transform: uppercase;
		color: rgba($color-green, 1);
		margin: 10px 0 0 ;
		line-height: 1;
		font: {
			size: 18px;
			weight: 400;
		}

	}
	.detail {
		margin: 0;
		line-height: 1;
		font: {
			size: 14px;
			weight: 400;
		}
		a {color: #fff;text-decoration: none;}

	}
	.info-right {
		width: auto;
		float: right;
		color: #000;
		text-align: right;
		margin: 10px 10px 0 0;
		font: {
			size: 14px;
			weight: 400;
		}

		a {
			color: #000;
			text-decoration: none;
		}
	}
	.arrow-title {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 10px;
		top: 5px;
		@include transition(all .3s ease);

		i {
			color: $color-gold;
			font-size: 20px;
			@include transition(all .3s ease);
		}
	}
	.vcard {
		width: 50px;
		height: 30px;
		float: right;
		margin: 10px 0 0 0;
		text-align: left;

		a {
			width: 50px;
			height: 30px;
			display: block;
			text-indent: -9999px;
			background: {
				position: 0 0;
			}
		}
	} // vcard
	.staff-link a {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 30;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: -9999px;
	}
}
section.contacts {
	margin: 0 0 30px 0;
	h2 {
		font: {
			weight: 400;
		}
	}
}
section.rep-proj {
	text-align: center;
	h2 {
		margin: 0 0 0 0;
		color: $color-green;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 0 5%;
		font: {
			weight: 400;
		}
	}
	h3 {
		margin: 0 0 0 0;
		color: $color-green;
		letter-spacing: 3px;
		text-transform: uppercase;
		padding: 0 5%;
		font: {
			weight: 400;
		}
	}
	p {
		padding: 0 5%;
	}

	.feat-project {
		width: 100%;
		position: relative;

		&:hover {
			.pic img {transform: scale(1.1);}
		}

		.pic {
			width: 100%;
			overflow: hidden;

			img {
				width: 100%;
				transform: scale(1);
				@include transition(.3s ease all);
			}
		}

		.arrow-link {
			width: 20px;
			height: 20px;
			position: relative;
			margin: 0px auto;
			@include transition(all .3s ease);

			i {
				color: $color-gold;
				font-size: 20px;
				@include transition(all .3s ease);
			}
		}
		.proj-link a {
			width: 100%;
			height: 100%;
			position: absolute; 
			top: 0;
			left: 0;
			text-indent: -9999px;
			display: block;
		}
	} // project
}

section.map-below {
	text-align: center;
	margin: -0px 0 50px 0;
	h3 {
		font: {
			size: 20px;
			weight: 400;
		}
		color: $color-green;
		letter-spacing: 3px;
		text-transform: uppercase;
		margin: 15px 0 15px 0;
		line-height: 1;
	}
	p {
		margin: 0 0 0 0;
		font: {
			size: 18px;
			weight: 400;
		}
	}
}
article.single-portfolio {

	margin: 50px 0 30px 0;

	.pic {
		width: 100%;
		margin: 0 0 20px 0;

		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: left;
		}
		img {
			width: 100%;
		}


	} // pic
	.info {
		width: 100%;
		margin: 0 0 20px 0;

		@media screen and (min-width: $tabwidth) {
			width: 30%;
			float: right;
		}


	} // info

	.location {
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: 18px;
	}
	.border {
		width: 100%;
		clear: both;
		border-bottom: 1px solid $color-green;
		margin: 5px 0;
	}
	.seemore {
		width: auto;
		position: relative;
		clear: both;
		display: inline-block;
		padding: 5px 25px 5px 0;
		font: {
			weight: bold;
		}

		a {
			width: auto; 
			
			@include transition(all .3s ease);
			text-decoration: none;
			color: #000; 

		}


		i {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 8px; 
			right: 0;
			color: $color-gold;
			font-size: 20px;
			@include transition(all .3s ease);
		}

		&:hover {
			i {
				right: -10px;
			}
		}
	}
}